@page "/"

<PageTitle>Index</PageTitle>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solid Template</title>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <!--<img class="header-logo-image" src="Images/logo.svg" alt="Logo">-->
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">
                                THE MOST DIVERSE
                                TRANSPORT BOOKING
                                SERVICE IN SINGAPORE
                            </h1>
                            <p class="hero-paragraph">Discover the joy of driving with TP Auto Car Rentals, Singapore's choice for affordable, diverse, and convenient vehicle rental solutions. From a wide range of vehicles to luxurious chauffeur services, easy home delivery, advanced booking options, and a commitment to safety and cleanliness, we make your journey seamless and memorable.</p>
                            <div class="hero-cta"><a class="button button-primary" href=" find us">Our Locations</a><a class="button" href="contact">Get in touch</a></div>
                        </div>
                        <div class="backdrop">

                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/carmoney.png" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">Affordable Rides</h4>
                                    <p class="text-sm mb-0">Unlock affordable adventures with TP Auto Rentals! From hourly to daily rates, our diverse options ensure you drive in style without breaking the bank. Your journey, your way.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/wheel.png" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">Variety of Rides</h4>
                                    <p class="text-sm mb-0">Explore an extensive fleet of vehicles at our company, offering a diverse selection including cars, vans, pickup trucks, and buses of different models and colours. Your perfect ride awaits!</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/chauffeur.png" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">Need a Chauffeur?</h4>
                                    <p class="text-sm mb-0">Elevate your experience with optional chauffeur service at TP Auto Rentals! Sit back, relax, and let our skilled chauffeurs take you wherever you desire. Enjoy the ride, stress-free.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/delivery.png" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24">Home Delivery</h4>
                                    <p class="text-sm mb-0">Distance no issue! Enjoy doorstep delivery for added convenience. Your dream ride, delivered to you – effortlessly. Small cost, big convenience. TP Auto Rentals, where distance becomes just a number!</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/bookcar.png" alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Advanced Booking</h4>
                                    <p class="text-sm mb-0">Secure your car hassle-free! Book in advance with TP Auto Rentals at no extra cost. Your ride, your way – guaranteed.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="Images/safe.png" alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Safe and Clean Rides</h4>
                                    <p class="text-sm mb-0">Experience worry-free rentals with TP Auto Rentals. Our vehicles undergo thorough inspection and cleaning after every return, ensuring a pristine and reliable ride for your peace of mind.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta section">
                <div class="container">
                    <div class="cta-inner section-inner">
                        <h3 class="section-title mt-0">Get your ride with TP Auto Car Rentals now!</h3>
                        <div class="cta-cta">
                            <a class="button button-primary button-wide-mobile" href="authentication/login">Sign In</a>
                            OR
                            <a class="button button-primary button-wide-mobile" href="authentication/register">Sign Up</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>
