

<PageTitle>Contact</PageTitle>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/contactstyle.css" rel="stylesheet" />
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Outlets</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="Images/CarImageFSD.jpg" alt="Bryan" style="width:100%">
      <div class="container">
        <h2>Bryan Tan</h2>
        <p class="title">Senior Sales Assistant</p>
        <p>Branch: Pasir Ris</p>
        <p>Email: <a href="mailto:tanbryan1234@gmail.com">tanbryan1234@gmail.com</a></p>
        <p>Contact Number: <a href="tel:+65-9338-1226">+65 9338 1226</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
                <img src="Images/CarImageFSD.jpg" alt="John" style="width:100%">
    <!--<img src="Images/CarImageFSD.jpg" alt="John" content="width=device-width, initial-scale=1">-->
        <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
