@page "/"

<PageTitle>Index</PageTitle>


    
<style>
    body{
        background-color: #00a1d8;
    }
    .custom-container {
        width:1000px;
        height: 700px;
        background-image: url('Images/CarImageFSD1.jpg'); /* Replace 'your-image-path.jpg' with the path to your image */
        background-size: auto; /* This will cover the entire container */
        background-repeat: no-repeat;
        border: solid 5px;
        border-color:black;
        text-align: center; /* Center the text horizontally */
        padding: 100px; /* Add some padding for better visibility */
        font-size: 50px;
        font-weight: bold;
        border-radius:40px;
        margin-left: auto;
        margin-right: auto;
    }


    .custom-button-container {
        display: flex;
    }



    .custom-button{
        width:150px;
        height: 60px;


        background-color: #008000;
        color: black;



        border: solid 4px;
        border-radius: 20px;


        font-size:25px; 
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
}

    .custom-text {
        font-size: 50px; 
    }




</style>


<body>
<div class="custom-container">
    <br /><br />
    <FONT COLOR="WHITE">
    THE MOST DIVERSE<br />
    TRANSPORT BOOKING<br />
    SERVICE IN SINGAPORE<br />
    </FONT>
    <br/><br/>
</div>


    <br />



<div class="custom-button-container">
    <button class="custom-button">EXPLORE!</button>
</div>

</body>
