@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TPAutoRentals</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @*
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> LOG OUT
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> REGISTER
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> LOG IN
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>*@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> HOME
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CARS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vans">
                <span class="oi oi-list-rich" aria-hidden="true"></span> VANS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BUSES
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trucks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TRUCKS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="findus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FIND US
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CONTACT
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createcustomer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CREATE CUSTOMER
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staffs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CREATE STAFF
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createmodel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CREATE MODEL
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createbrand">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CREATE BRAND
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CREATE BOOKING
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="licenserequests">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LICENSE REQUESTS
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}

